<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>blog detail</title>
    <style>
table, th, td {
  border: 1px solid red ;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
</style>
</head>
<body>

<!-- USER area -->
<h1> song Table with many to many relation : - </h1><br>
<div class="table-responsive">
  <table class="table align-middle" style="background-color:#109952">
    <thead>
    <tr>
<!--        <th scope="col">ID </th>-->
        <th scope="col">NAME</th>
        <th scope="col">DURATION</th>
        <th scope="col">WRITTEN</th>


    </tr>
  </thead>
        <tbody>
        {% for stu in s %}
        <tr>
<!--            <td>{{stu.id}}</td>-->
            <td>{{stu.name}}</td>
             <td>{{stu.duration}}</td>
             <td>{{stu.written}}</td>

        </tr>
        {% endfor %}
        </tbody>
  </table>
</div><hr>



</body>
</html>